body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 300px;
  }
  
  h2 {
    text-align: center;
  }
  
  #email-content {
    margin-top: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }
  